<div class="page-inner">
  <div class="page-header">
     <h4 class="page-title">Quản Lý Danh Mục</h4>
     <ul class="breadcrumbs">
        <li class="nav-home">
           <a href="#">
           <i class="flaticon-home"></i>
           </a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Danh Mục</a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Danh Sách Danh Mục</a>
        </li>
     </ul>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="card">
           <div class="card-header">
              <div class="card-title">
                 Danh Sách Danh Mục
                 <div class="them">
                    <button class="btn btn-success" (click)="createModal()">
                    <span class="btn-label">
                    <i class="fa fa-plus"></i>
                    </span> Thêm Mới
                    </button>
                 </div>
              </div>
           </div>
           <div class="card-body ">
             <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
               <div class="row">
                 <div class="col-lg-2">
                  <div class="form-group form-group-default">
                    <label>Số Dòng</label>
                    <select class="form-control" id="formGroupDefaultSelect">
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                    </select>
                  </div>
                 </div>
                 <div class="col-md-6 ml-auto">
                  <div class="form-group">
                    <div class="input-group">
                      <input formControlName="ten" type="text" class="form-control" placeholder="Tìm kiếm " aria-label="" aria-describedby="basic-addon1">
                      <div class="input-group-prepend">
                        <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                      </div>
                    </div>
                  </div>
                 </div>
               </div>
              </form>
              <p-table selectionMode="single" [value]="danhmucs" styleClass="p-datatable-gridlines">
                 <ng-template pTemplate="header">
                    <tr>
                       <th style="width: 70px; text-align: center;">STT</th>
                       <th style="width: 20%; text-align: left;">Tên Danh Mục</th>
                       <th style="width: 20%; text-align: left;">Thứ Tự</th>
                       <th style="width: 120px; text-align: left;">Tác vụ</th>
                    </tr>
                 </ng-template>
                 <ng-template pTemplate="body" let-item  let-i="rowIndex">
                    <tr>
                       <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                       <td>{{ item.ten_BBao }}</td>
                       <td>{{ item.iD_TapChi }}</td>
                       <td>
                          <button (click)="openUpdateModal(item)" data-toggle="tooltip" class="btn btn-link btn-primary btn-lg" data-original-title="Chỉnh sửa">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button id="alert_demo_7" (click)="onDelete(item)" data-toggle="tooltip" class="btn btn-link btn-danger" data-original-title="Xóa">
                            <i class="fa fa-times"></i>
                          </button>
                      </td>
                    </tr>
                 </ng-template>
              </p-table>
           </div>
           <div class="card-body">
              <div class="demo" >
                 <ul class="pagination pg-primary phantrang">
                    <ngb-pagination
                    [collectionSize]="totalRecords"
                    [pageSize]="pageSize"
                    [(page)]="page" [maxSize]="10"
                    [rotate]="true"
                    (pageChange)="loadPage($event)">
                    </ngb-pagination>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="showUpdateModal" id="createModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal ">
     <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="isCreate" class="modal-title">THÊM BÁO CHÍ</h4>
          <h4 *ngIf="!isCreate" class="modal-title">SỬA BÁO CHÍ</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="control-label no-padding-right"> Họ tên (
                  <span style="color: red;">*</span>)
                </label>
                <input type="text" class=" form-control" placeholder="Họ tên" formControlName="ten_BBao"/>
                <small class="form-text text-muted" *ngIf="submitted && f.ten_BBao.errors">
                  <i style="color: red;" *ngIf="f.ten_BBao.errors.required">Hãy nhập thông tin họ tên</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Loại tạp chí (
                  <span style="color: red;">*</span>)
                </label>
                <select formControlName="iD_Loai" class="form-control form-control" id="defaultSelect">
                  <option value="">Chọn loại tạp chí</option>
                  <option *ngFor="let item of danhmuc" [value]="danhmuc.iD_Loai">1</option>
                </select>
                <small class="form-text text-muted" *ngIf="submitted && f.ten_BBao.errors">
                  <i style="color: red;" *ngIf="f.ten_BBao.errors.required">Hãy chọn thông tin loại tạp chí</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Tạp chí (
                  <span style="color: red;">*</span>)
                </label>
                <select formControlName="iD_TapChi"  class="form-control form-control" id="defaultSelect">
                  <option value="">Chọn tạp chí</option>
                  <option *ngFor="let item of danhmuc" [value]="danhmuc.iD_TapChi">2</option>
                </select>
                <small class="form-text text-muted" *ngIf="submitted && f.ten_BBao.errors">
                  <i style="color: red;" *ngIf="f.ten_BBao.errors.required">Hãy chọn tạp chí</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Trang bắt đầu (
                  <span style="color: red;">*</span>)
                </label>
                <input type="number" class=" form-control" placeholder="Trang bắt đầu" formControlName="trang_BD"/>
                <small class="form-text text-muted" *ngIf="submitted && f.trang_BD.errors">
                  <i style="color: red;" *ngIf="f.trang_BD.errors.required">Hãy nhập thông tin trang bắt đầu</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Trang kết thúc (
                  <span style="color: red;">*</span>)
                </label>
                <input type="number" class=" form-control" placeholder="Trang kết thúc" formControlName="trang_BD"/>
                <small class="form-text text-muted" *ngIf="submitted && f.trang_BD.errors">
                  <i style="color: red;" *ngIf="f.trang_BD.errors.required">Hãy nhập thông tin trang kết thúc</i>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="Reset()"> Làm mới</button>
          <button type="submit" class="btn btn-success">Lưu lại</button>
          <button type="button" class="btn btn-danger" (click)="closeModal()"> Đóng lại</button>
        </div>
        </form>
     </div>
  </div>
</div>

